@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* ----- CSS VARIABLES  ----- */

:root {
  --color-background: #e3ccbc;
  --color-text: #1f1d1c;
  --color-surface: #e9d8cc;
  --color-accent: #b44b31;
  --color-accent2: #f16d01;
  --color-disabled: #3a506b;
}

/* ---------- */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Mono", monospace;
  font-size: 62.5%;
  color: var(--color-text);
}

body {
  background: var(--color-background);
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: var(--color-accent2);
}

h2 {
  font-size: 3rem;
  line-height: 6rem;
  color: var(--color-accent2);
}

h3 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Space Mono", monospace;
}

/* ---------- */

.nav-menu {
  margin-top: 1.5rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options a {
  margin: 0 5rem;
}

#theme-select {
  display: block;
  font-family: "Space Mono", monospace;
  color: var(--color-accent);
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-surface);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23b44b31%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}
/* Hide arrow icon in IE browsers */
#theme-select::-ms-expand {
  display: none;
}

#theme-select:hover {
  color: var(--color-accent2);
}

.button {
  padding: 10px 20px;
  border: 1px solid var(--color-text);
  width: 200px;
}

.button:hover {
  color: var(--color-accent2);
}

/* ----- INDEX ----- */

#modal-background {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(151, 151, 151, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#modal-username {
  z-index: 1000;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  padding: 50px;
  text-align: center;
  background-color: var(--color-surface);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-accent);
  text-align: center;
  font-family: "Space Mono", monospace;
  color: var(--color-accent);
}

input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: var(--color-accent);
  border: none;
  text-align: center;
  font-family: "Space Mono", monospace;
  color: var(--color-surface);
  cursor: pointer;
}

.top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.main-container {
  width: 30%;
  margin: 200px auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-surface);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

/* ----- GAME ----- */

.game-container {
  width: 30%;
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-container img {
  width: 50%;
  margin-right: 3rem;
}

.game-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* ----- PRACTICE ----- */

#practice-intro {
  width: 50%;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#practice-content {
  width: 50%;
  margin: 100px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#practice-content img {
  max-width: 400px;
  max-height: 500px;
}

#clock {
  width: 30%;
  margin: 2rem auto;
  font-size: 2rem;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

/* ----- GALLERY ----- */

.img-gallery {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.img-card {
  padding: 1rem;
  border: 1px solid white;
  width: 30%;
}

.img-card img {
  width: 100%;
}
